

body{
    background: lightseagreen;
}

section{
    text-align: center;
    margin-top: 100px;
}


h2{
    color: white;
    font-family: fantasy;
    letter-spacing: 3px;
    font-size: 35px;
    text-shadow: 2px 2px black;
}

span{
    color: white;
    font-family: fantasy;
    font-size: 25px;
    letter-spacing: 3px;
    text-shadow: 2px 2px black;
}

.result{
    color: gold;
    font-size: 45px;
    font-family: fantasy;
    padding: 15px;
    font-size: 45px;
    text-shadow: 3px 3px goldenrod;
}

.convert{
    border: none;
    color: white;
    background: seagreen;
    border-radius: 15px;
    padding: 5px;
    font-family: fantasy;
    letter-spacing: 3px;
    font-size: 25px;
}

.convert:hover{
    cursor: pointer;
}

.amount ,.to-coin ,.from-coin{
    padding: 5px;
    font-family: fantasy;
    letter-spacing: 3px;
    font-size: 20px;
    margin: 5px;
}